################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/vaEliteDangerousHelperPlugin/vaEliteDangerousHelperPlugin/obj/Release
